<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.hyper.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.hyper.board.model.vo.Board" alias="board" />
	</typeAliases>	
	
	<!-- 
		environments, dateSource ==> DB연결정보
	
		=> DB등록정보는 서버가 실행됨과 동시에 이루어져야 하는 작업
		서버 켜지면 바로 읽히는 root-context.xml에 기술할 예정
		==> Spring Bean등록
	 -->

	<!-- resource파일들은 미리 만들어두고 서버를 켜야한다. 순서 바뀌면 오류남 -->
	<mappers>
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/board-mapper.xml" />
	</mappers>

	




</configuration>



























