<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.hyper.board.model.dao.BoardMapper">

	<sql id="boardColumn">
			SELECT
			   BOARD_NO boardNo,
			   BOARD_TITLE boardTitle,
			   BOARD_WRITER boardWriter,
			   BOARD_CONTENT boardContent,
			   COUNT,
			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as createDate,
			   ORIGIN_NAME originName,
			   CHANGE_NAME changeName
		  FROM
		  	   BOARD
		 WHERE
		 	   STATUS = 'Y'
	
	</sql>


	<select id="selectTotalCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   BOARD
		 WHERE
		 	   STATUS = 'Y'
	</select>

	<select id="selectBoardList" resultType="board">
		<include refid="boardColumn" />
		
		 ORDER
		 	BY
		 	   BOARD_NO DESC 
	
	</select>

	<update id="increaseCount" parameterType="long">
		UPDATE
			   BOARD
		   SET
		   	   COUNT = COUNT + 1
		 WHERE
		 	   STATUS = 'Y'
		   AND
		       BOARD_NO = #{boardNo}
	
	</update>

	<select id="selectById" parameterType="long" resultType="board">
		<include refid="boardColumn" />
		
		 AND
		 	 BOARD_NO = #{boardNo}
		 	 
	</select>

	<update id="deleteBoard" parameterType="long">
		UPDATE
			   BOARD
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   STATUS = 'Y'
		   AND
		   	   BOARD_NO = #{boardNo}
		   	   
	</update>

	<update id="updateBoard" parameterType="board">
		UPDATE
			   BOARD
	       SET
	       	   BOARD_TITLE = #{boardTitle},
	       	   BOARD_CONTENT = #{boardContent},
	       	   ORIGIN_NAME = #{originName},
	       	   CHANGE_NAME = #{changeName}
	     WHERE
	     	   BOARD_NO = #{boardNo}
	       AND
	     		STATUS = 'Y'
	</update>
	
	<insert id="insertReply" parameterType="com.kh.hyper.board.model.vo.Reply">
		INSERT
		  INTO
		  	   REPLY
		  	   (
		  	   REPLY_NO,
		  	   REPLY_CONTENT,
		  	   REPLY_WRITER,
		  	   REF_BNO
		  	   )
		VALUES
			   (
			   SEQ_RNO.NEXTVAL,
			   #{replyContent},
			   #{replyWriter},
			   #{refBoardNo}
			   )
	
	</insert>

	<select id="selectReplyList" parameterType="long" resultType="com.kh.hyper.board.model.vo.Reply">
		SELECT
			   REPLY_NO replyNo,
			   REPLY_WRITER replyWriter,
			   REPLY_CONTENT replyContent,
			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS createDate
		  FROM	
		       REPLY
		 WHERE
		  	   STATUS = 'Y'
		   AND
		  	   REF_BNO = #{boardNo}
		 ORDER
		    BY
		       REPLY_NO DESC	   
	</select>



















</mapper>